@model TeleTimeTest.Models.WorkShift

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-inline">
    <h4>WorkShift</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">@Html.LabelFor(model => model.WorkShiftNameName, "WorkShiftNameName", htmlAttributes: new { @class = "control-label col-md-2" })</div>
    <div class="form-group">
        @Html.DropDownList("WorkShiftNameName", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.WorkShiftNameName, "", new { @class = "text-danger" })
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Name, "Name", htmlAttributes: new { @class = "control-label col-md-2" })
    </div>
    <div class="form-group">
        @Html.DropDownList("Name", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.StartEndTime, "StartEndTime", htmlAttributes: new { @class = "control-label col-md-2" })
    </div>
    <div class="form-group">
        @Html.DropDownList("StartEndTime", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.StartEndTime, "", new { @class = "text-danger" })
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.ShiftName, "ShiftName", htmlAttributes: new { @class = "control-label col-md-2" })
    </div>
    <div class="form-group">
        @Html.DropDownList("ShiftName", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ShiftName, "", new { @class = "text-danger" })
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Date, "Date", htmlAttributes: new { @class = "control-label col-md-2" })
    </div>
    <div class="form-group">
        @Html.DropDownList("Date", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
    </div>
    
    <br />
    <br />
    <div class="form-group">
        <input type="button" value="Add Shift" class="btn btn-default" />
    </div>
    <br />
    <br />
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>

</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
