@model IEnumerable<TeleTimeTest.Models.WorkShift>
@*@model TeleTimeTest.Models.WorkShiftViewerModel*@

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            WorkShiftName
        </th>
        <th>
            Time
        </th>
        <th>
            TypeOfShift
        </th>
        <th>
            PersonName
        </th>*@
        <th>
                @Html.DisplayNameFor(model => model.WorkShiftID)
            </th>
            
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WorkShiftID)
        </td>
        
    </tr>
    }
    @*<tr>*@
        @*@foreach (var workShift in Model.WorkShifts)
        {*@
            @*@foreach (var item in Model.WorkShiftNames)
            {
                if (item.ID == 1)
                {
                    <td>
                        @item.Name
                    </td>
                }
            }
            @foreach (var item in Model.Times)
            {
                <td>
                    @item.StartEndTime
                </td>
            }
            @foreach (var item in Model.TypeOfShifts)
            {
                <td>
                    @item.ShiftName
                </td>
            }
            @foreach (var item in Model.Persons)
            {
                <td>
                    @item.Name
                </td>
            }*@
        @*}*@

        @*<td></td>
        <td>
            @foreach (var workShiftName in Model.WorkShiftNames)
            {

                @workShiftName.Name
            }
        </td>
        <td>
            @foreach (var time in Model.Times)
            {
                @time.StartEndTime
            }
        </td>
        <td>
            @foreach (var typeOfShift in Model.TypeOfShifts)
            {
                @typeOfShift.ShiftName
            }
        </td>
        <td>
            @foreach (var persons in Model.Persons)
            {
                @persons.Name
            }
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.Persons)
        </td>*@
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>*@
    @*</tr>*@
    

</table>
