@model IEnumerable<TeleTimeTest.Models.WorkShift>
@*@model TeleTimeTest.Models.WorkShiftViewerModel*@

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkShiftNameName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartEndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShiftName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

    </tr>
    @foreach (var item in Model)
    {
        if (item.WorkShiftNameName == "Standard")
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkShiftNameName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartEndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShiftName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }
    }
    @*<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>*@
</table>

<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkShiftNameName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartEndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShiftName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

    </tr>
    @foreach (var item in Model)
    {
        if (item.WorkShiftNameName == "Legend")
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkShiftNameName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartEndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShiftName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }
    }
    @*<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>*@
</table>
