@model IEnumerable<TeleTimeTest.Models.Person>

@{
    ViewBag.Title = "Person";
}

<h2>Person</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-2">
            @Html.DisplayFor(modelItem => item.Name)

            @Html.DisplayFor(modelItem => item.EMail)

            @Html.ActionLink("Edit", "Edit", new { id = item.Name }) |
            @Html.ActionLink("Details", "Details", new { id = item.Name }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Name })
        </div>
    }
</div>

@*<th>
        @Html.DisplayNameFor(model => model.EMail)
    </th>*@
