@model IEnumerable<TeleTimeTest.Models.Worker>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Shift)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfRole)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Shift.ShiftID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOfRole)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.WorkerID }) |
            @Html.ActionLink("Details", "Details", new { id = item.WorkerID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.WorkerID })
        </td>
    </tr>
}

</table>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Shift.ShiftID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shift.ShiftStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shift.ShiftEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shift.NumberOfWorkers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shift.Workers)
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Shift.ShiftID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shift.ShiftStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shift.ShiftEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shift.NumberOfWorkers)
            </td>
            @foreach(var workers in item.Shift.Workers)
            {
            <td>
                @Html.DisplayFor(modelItem => workers.Name)
            </td>
            }
            
        </tr>
    }

</table>


    <table class="table">
        <tr>
            <th>
                WorkshiftId
            </th>
            <th>
                WorkShiftName
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @foreach (var workShift in item.Shift.WorkShifts)
                {
                    <td>
                        @workShift.WorkShiftID
                    </td>
                    <td>
                        @workShift.ShiftName
                    </td>
                }
            </tr>
        }

    </table>
